* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto Mono", monospace;

  outline: none;
}

html {
  height: calc(100vh - 5%);
  background: var(--gray-50);
}

:root {
  margin: 0;
  padding: 0;

  --gray-50: #f7f8fa;
  --gray-800: #494d4b;

  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}